In [ ]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data = pd.read_csv("DataIntPY_finalproj_hotel.csv")
data

# Data Properties

In [ ]:
data.dtypes

In [ ]:
data.shape

In [ ]:
data.info()

# Descriptive Statistic

In [ ]:
data.describe()

# Replace Missing Value

In [ ]:
data.isna()

In [ ]:
data.isnull().sum()

Due to 'Company' has 112593 missing value, make it not valid, better to drop the column

In [ ]:
data.drop('company', axis=1, inplace=True)

In [ ]:
data.isnull().sum()

1. Replace Missing Value on Children Column

In [ ]:
data['children'].unique()

In [ ]:
data['children'].value_counts()

#Fill Missing value with mean

In [ ]:
data['children'] = data['children'].fillna(data['children'].mean())

In [ ]:
data.isnull().sum()

2. Replace Missing Value on Country Column

In [ ]:
data['country'].unique()

In [ ]:
data['country'].value_counts()

In [ ]:
data['country'] = data['country'].fillna(data['country'].mode()[0])

In [ ]:
data.isna().sum()

3. Replace Missing Value on Country Column

In [ ]:
data['agent'].unique()

In [ ]:
data['agent'] = data['agent'].fillna(data['agent'].mean())

In [ ]:
data.isna().sum()

# Categorize based on Lead Time

Create a new column with the following condition:\
a) <200 : Short Trip\
b) 200-450 : Medium Trip\
c) >max value : Long Trip

In [ ]:
data['cat_lead_time'] = ''

In [ ]:
data["cat_lead_time"] = np.where(data["lead_time"] > 500 ,"Long", np.where(data["lead_time"] >= 450, "Medium", "Short"))
data

# Get reservation_status_date after 2017

In [ ]:
data['reservation_status_date'] = pd.to_datetime(data['reservation_status_date'], format='%Y-%m-%d')

In [ ]:
data.info()

In [ ]:
data['reservation_status_date'].unique()

In [ ]:
df1 = data.loc[data['reservation_status_date'] > '2017']
df1

# Most Crowded Month

In [ ]:

df2 = data['arrival_date_month']
gc = df2.value_counts(ascending = True)
fig = gc.plot(kind = 'barh', 
        grid = True,
        fontsize = 10,
        xlim = 5000,
        facecolor = '#0066CC',
       )

fig.set_title('Most Crowded Month in 2015-2017',fontsize = 25, fontname = 'Times New Roman')
fig.set_xlabel("Nums of People", fontsize = 15)
fig.set_ylabel("", fontsize = 15)